*,
*::before,
*::after {
  box-sizing: border-box;
}
.top-bar {
  background-color: lightskyblue;
  padding: 0;
}
.top-bar ul {
  background-color: lightskyblue;
}

#logo-img {
  object-fit: contain;
  margin-left: 20px;
}

#logo {
  font-family: 'Dancing Script';
  color: rgb(0, 79, 224);
  font-size: 450%;
  display: inline;
  position: relative;
  top: 10px;
}

.hidden {
  display: none;
}
.top-bar-right {
  margin-right: 30px;
}

aside {
  position: fixed;
  padding: 10px 0px 0px 20px;
  background-color: rgb(255, 239, 210);
  height: 100%;
  margin-top: 125px;
}
main > section{
  padding: 10px;
  margin-left: 25%;
  margin-top: 125px;
  display: flex;
  flex-direction: inline;
  flex-wrap: wrap;
}

main {
  flex-direction: inline;
}

nav {
  z-index: 1;
  position: fixed;
  width: 100%;
}

section > h2 {
  width: 100%;
}
.my-meals-header{
  font-family: 'Dancing Script';
}

.recipe-card {
  border: 1px solid rgb(110, 110, 110);
  width: 250px;
  border-radius: 4%;
  padding: 5px;
  margin: 10px;
}

.recipe-card > img {
  border-radius: 4%;
}

.card-clicked{
  width: 500px;
}
.card-clicked > img {
  width: 500px;
}

.recipe-card > h3 {
  font-size: 1.5em;
  padding: 10px;
}
.recipe-card > button {
  padding: 5px;
  font-size: 1.2em;
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 10%;
}
.recipe-card > a{
  margin-left: 20%;
}
.recipe-card > ul {
  list-style-type: none;
}
#my-meals{
  overflow-y:auto;
}
#grocery-list{
  font-size: 1em;
}
#compiled-grocery-list{
  padding-left: 20px;
}
.grocery-title{
  font-family: 'Dancing Script';
  font-size: 2em;
  padding-left: 10px;
  display: inline;
}
.selected-meals{
  background-color: orange;
  width: 96%;
  border-radius: 1%;
  margin-bottom: 10px;
  padding-left: 10px;
  font-size: 1.4em;
  min-height: 45px;
  height: fit-content;
}
.selected-meals:hover{
  background-color: rgb(187, 127, 15);
}
.delBtn{
  position: absolute;
  right: 20px;
  display: inline;
  margin-top: 5px;
  font-size: 0.5em;
  border-radius: 15%;
}
.custom-copy{
  display: inline;
  border-radius: 6%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-left: 10px;
  margin-top: 10px;
  padding: 5px;
  font-size: 1em;
  background-color: rgb(0, 79, 224);
}
#upload{
  font-size: .5em;
}

#search-btn{
  background-color: rgb(0, 79, 224);
  font-size: 1.2em;
}

.custom-copy:active, .custom-copy:visited, .custom-copy:focus{
  background-color: rgb(0, 79, 224);
}        

.custom-modal {
  width: fit-content;
}
.add-meal{
  background-color: orange;
}
.add-meal:hover{
  background-color: rgb(187, 127, 15);
}

@media only screen and (max-width: 1022px){
  #search-results{
    margin-left: 35%;
  }
}

@media only screen and (max-width: 638px){
  aside {
    position: static;
    margin-top: 164px;
    height: fit-content;
    width: 100%;
  }
  #search-results{
    padding: 10px;
    margin-left:0;
    margin-top: 0;
  }
}
@media only screen and (max-width: 368px){
  #logo {
    font-size: 3em;
  }
}