*,
*::before,
*::after {
  box-sizing: border-box;
}

.top-bar {
  background-color: lightskyblue;
  padding: 0;
}
.top-bar ul {
  background-color: lightskyblue;
}

#logo-img {
  object-fit: contain;
  margin-left: 20px;
}

#logo {
  font-family: 'Dancing Script';
  color: rgb(0, 79, 224);
  font-size: 450%;
  display: inline;
}

.hidden {
  display: none;
}
.top-bar-right {
  margin-right: 30px;
}

aside h2 {
  font-size: 2em;
}

aside {
  position: fixed;
  padding: 10px 0px 0px 20px;
  background-color: rgb(255, 239, 210);
  height: 100%;
  margin-top: 125px;
}
main > section{
  padding: 10px;
  margin-left: 25%;
  margin-top: 125px;
  display: flex;
  flex-direction: inline;
  flex-wrap: wrap;
}

main {
  flex-direction: inline;
}

nav {
  z-index: 1;
  position: fixed;
  width: 100%;
}

section > h2 {
  width: 100%;
}

.recipe-card {
  border: 1px solid rgb(110, 110, 110);
  width: 250px;
  border-radius: 4%;
  padding: 5px;
  margin: 10px;
}

.recipe-card > img {
  border-radius: 4%;
}

.card-clicked{
  width: 500px;
}
.card-clicked > img {
  width: 500px;
}

.recipe-card > h3 {
  font-size: 1.5em;
  padding: 10px;
}
.recipe-card > button {
  padding: 5px;
  font-size: 1.2em;
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 10%;
}
.recipe-card > a{
  margin-left: 20%;
}
.recipe-card > ul {
  list-style-type: none;
}
#my-meals{
  overflow-y:auto;
}

.selected-meals{
  background-color: orange;
  width: 90%;
  margin-bottom: 10px;
  padding-left: 10px;
  font-size: 1.4em;
  height: 45px;
  overflow: hidden;
}
#delBtn{
  position: absolute;
  right: 0;
  display: inline;
  margin-top: 5px;
  font-size: 0.5em;
}

@media only screen and (max-width: 1022px){
  #search-results{
    margin-left: 35%;
  }
}

@media only screen and (max-width: 638px){
  aside {
    position: static;
    margin-top: 164px;
    height: fit-content;
    width: 100%;
  }

  #search-results{
    padding: 10px;
    margin-left:0;
    margin-top: 0;
  }
}