*,
*::before,
*::after {
  box-sizing: border-box;
}

.top-bar {
  background-color: lightskyblue;
  padding: 0;
}
.top-bar ul {
  background-color: lightskyblue;
}

#logo-img {
  object-fit: contain;
  margin-left: 20px;
}

#logo {
  font-family: 'Dancing Script';
  color: rgb(0, 79, 224);
  font-size: 450%;
}

.hidden {
  display: none;
  /* display: inline; */
}
.top-bar-right {
  margin-right: 30px;
}

aside h2 {
  font-size: 2em;
}

aside {
  padding: 10px 0px 0px 20px;
  background-color: rgb(255, 239, 210);
  height: 80vh;
}
main section{
  padding: 10px;
}